<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    
    <h1>Welcome {{ user.first_name }}!</h1>
    <h3>These are the recipes</h3>

    <a href="/recipes/new">Create</a>
    <a href="/logout">Logout</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Under 30 minutes?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.name}}</td>
                <td>{{recipe.under_thirty_minutes}}</td>
                {% if recipe.user_id == user.id %}
                    <td><a href="/recipes/{{recipe.id}}">view instructions</a> <a href="/recipes/edit/{{recipe.id}}">edit</a> <a href="/recipes/delete/{{recipe.id}}">delete</a></td>
                {% else %}
                    <td><a href="/recipes/{{recipe.id}}">view instructions</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>