<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    
    <h1>Edit Recipe</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>

    <form action="/recipes/update/{{recipe.id}}" method="POST">
        <p>Name: <input type="text" name="name" id="" value="{{recipe.name}}"></p>
        <p>Description: <textarea name="description" id="" cols="30" rows="10">{{recipe.description}}</textarea></p>
        <p>Instructions: <textarea name="instructions" id="" cols="30" rows="10">{{recipe.instructions}}</textarea></p>
        <p>Date Made On: <input type="date" name="created_at" id=""></p>
        <p>
            Under 30 Minutes?
            Yes <input type="radio" name="under_thirty_minutes" id="" value="yes">
            No <input type="radio" name="under_thirty_minutes" id="" value="no">
        </p>
        <input type="submit" value="Update">
    </form>

    </form>

</body>
</html>