<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    
    <h1>Welcome {{user.first_name}}</h1>
    <a href="/dashboard">Dashboard</a>
    <a href="/logout">Logout</a>

    <h1>{{recipe.name}}</h1>
    <p>Description: {{recipe.description}}</p>
    <p>Under 30 Minutes: {{recipe.under_thirty_minutes}}</p>
    <p>Instructions: {{recipe.instructions}}</p>
    <p>Date Made: {{recipe.created_at}}</p>
</body>
</html>